body {
    background-color: darksalmon;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.form {
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, th {
    border: 1px solid black;
    border-collapse: collapse;
}

button {
    width: 5%;
}